* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gridButton {
    width: 125px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 650px;
    border: 1px solid black;
    margin: auto;
}

.divRow {
    display: flex;
    flex: auto;
}

.divColumn {
    display: flex;
    flex: auto;
    border: 1px solid black;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 650px;
    height: 750px;
    overflow: hidden;
}